
*
{
    background-color:black;
    color:white;
}

body
{
    text-align:center;
    font-size:130%;
}

video, textarea, input
{
    display:inline-block;
}

ol
{
    text-align:left;
}

#Video
{
    height: 40%;
}

textarea
{
    width:90%;
    min-height:6em;
    font-size:110%;
}

button
{
    font-size:130%;
}

#SRTDownloadLink
{
    font-size:140%;
    font-weight:bold;
}

textarea[disabled]
{
    background-color:gray;
}